input {
  margin-left: 10px;
  font-size: 17px;
  height: 30px;
  width: 35%;
  background-color: white;
  border: 2px solid black;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
}

button {
  margin-left: 8px;
  background-color: rgb(99, 185, 220);
  color: white;
  height: 30px;
  width: 80px;
  margin-top: 0;
  font-size: 17px;
}
.task-item__container {
  margin-top: 20px;
  display: flex;
  justify-content: left;
  border: 1px solid red;
}
